<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>藏品管理</title>

    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
	<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/css/plugins/switchery/switchery.css" rel="stylesheet">
	<link href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
	<link href="/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
	<link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
	<link href="/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
	<link href="/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
	<link href="/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
	<link href="/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style.css?v=4.1.0" rel="stylesheet">
	<link href="/css/plugins/jqgrid/ui.jqgrid.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/plugins/webuploader/webuploader.css">
	<link rel="stylesheet" type="text/css" href="/css/demo/webuploader-demo.css">
<style>
	.aspan{
		    float: left;
    /* margin-top: 8px; */
    background-color: #eeeeee;
    width: auto;
    min-width: 16px;
    padding: 7px 10px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eeeeee;
    border-width: 1px 0;
    margin-left: -5px;
    margin-right: -5px;
	}
</style>

</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight" >
		<div style="float:right;">
			<button id="xxxcxxxx" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增</button>
			<button class="btn btn-warning" id="ccccxcccc">修改</button>
			<button class="btn btn-default" id="dddddd">下架</button>
		</div>
        <div class="jqGrid_wrapper" style="margin-top: 40px;">
            <table id="user_list"></table>
            <div id="user_list_btn"></div>
        </div>
	</div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">藏品信息</h4>
                </div>
                <div class="modal-body">
	            	<form method="post" id="user_form" action="/dity/addGoods" class="form-horizontal" enctype="multipart/form-data">
	            		<div class="row">
							<label class="col-sm-1 control-label" style="text-align: right;">藏品名称：</label>
                          	<div class="col-md-4">
								<input id="ID" name="ID" type="hidden">
                                <input id="NAME" name="NAME" type="text" placeholder="" class="form-control"
                                   		required="" aria-required="true">
                            </div>
                            <label class="col-sm-1 control-label" style="text-align: right;">价格：</label>
                            <div class="col-md-4">
                                <input id="PRICE" name="PRICE" type="number" min="0" placeholder="" class="form-control"
                                   	required="" aria-required="true">
                             </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
							<label class="col-sm-1 control-label" style="text-align: right;">简介：</label>
                          	<div class="col-md-9">
                                <input id="INTRDCT" name="INTRDCT" type="text" placeholder="" class="form-control"
                                   		required="" aria-required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                       	<div class="row">
                        	<label class="col-sm-1 control-label" style="text-align: right;">分类：</label>
                        	<div class="col-md-8">
	                            <fieldset id="FieldsetID">
	                                <!-- <div class="radio radio-info radio-inline">
	                                    <input type="radio" value="1" name="GOODS_TYPE" checked="">
	                                    <label> 玉石区 </label>
	                                </div>
	                                <div class="radio radio-inline">
	                                    <input type="radio" value="2" name="GOODS_TYPE" checked="">
	                                    <label> 钱币区 </label>
	                                </div>
	                                <div class="radio radio-info radio-inline">
	                                    <input type="radio" value="3" name="GOODS_TYPE" checked="">
	                                    <label> 字画区 </label>
	                                </div>
	                                <div class="radio radio-inline">
	                                    <input type="radio" value="4" name="GOODS_TYPE">
	                                    <label> 贵金属区 </label>
	                                </div>
	                                <div class="radio radio-info radio-inline">
	                                    <input type="radio" value="5" name="GOODS_TYPE" checked="">
	                                    <label> xxx区 </label>
	                                </div> -->
	                            </fieldset>
                        	</div>
                        </div>
                        <!-- <div class="hr-line-dashed"></div>
                        <div class="row">
							<label class="col-sm-1 control-label" style="text-align: right;">开始日期：</label>
                          	<div class="col-md-4">
                                <input id="BUY_TIME" name="BUY_TIME" type="text" class="form-control" 
                                	required="" aria-required="true" data-mask="9999-99-99 99:99:99" 
                                		placeholder="请正确填写日期，格式（yyyy-MM-dd HH:mm:ss）">
                            </div>
                            <label class="col-sm-1 control-label" style="text-align: right;">截止日期：</label>
                            <div class="col-md-4">
                                <input id="WT_TIME" name="WT_TIME" type="text" class="form-control" 
                                	required="" aria-required="true" data-mask="9999-99-99 99:99:99" 
                                		placeholder="请正确填写日期，格式（yyyy-MM-dd HH:mm:ss）">
		
                             </div>
                        </div> -->
                        <div class="hr-line-dashed"></div>
                      	<div class="row">
		                	<div id="file-pretty">
	                        	<label class="col-sm-1 control-label" style="text-align: right;">图片：</label>
                     			<div class="col-md-3">
	                                <input id="IMAGE" name="IMAGE" type="file" class="form-control">
		                            <input type="hidden" id="FILE_URL" name="FILE_URL"/>
                     			</div>
		                    </div>
                        </div>
                      	<div class="row">
                      		<label class="col-sm-1 control-label" style="text-align: right;"></label>
		                    <div class="col-md-9">
                               <img id="spimg" style="max-width: 100%; margin-top: 20px;"  src=""/>
                   			</div>
                        </div>
                        <div class="modal-footer">
                        	<input id="submitBtn" value="确定" type="submit" class="btn btn-primary"/>
                           	<input id="celBtn" value="取消" type="button" class="btn btn-default"/>
		                </div>
	        		</form>
                </div>
            </div>
        </div>
    </div>
    
	<script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.7"></script>
    <!-- Chosen -->
    <script src="/js/plugins/chosen/chosen.jquery.js"></script>
    <!-- JSKnob -->
    <script src="/js/plugins/jsKnob/jquery.knob.js"></script>
    <!-- Input Mask-->
    <script src="/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Data picker -->
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- Prettyfile -->
    <script src="/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <!-- NouSlider -->
    <script src="/js/plugins/nouslider/jquery.nouislider.min.js"></script>
    <!-- Switchery -->
    <script src="/js/plugins/switchery/switchery.js"></script>
    <!-- IonRangeSlider -->
    <script src="/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <!-- MENU -->
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Clock picker -->
    <script src="/js/plugins/clockpicker/clockpicker.js"></script>
    <!-- Image cropper -->
    <script src="/js/plugins/cropper/cropper.min.js"></script>
    <script src="/js/demo/form-advanced-demo.js"></script>
	
	<script src="/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>
	<script src="/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="/js/jquery.form.min.js"></script>
	<script src="/js/vendor/jquery.ui.widget.js"></script>
	<script src="/js/jquery.iframe-transport.js"></script>
	<script src="/js/jquery.fileupload.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function () {
		$.jgrid.defaults.styleUI = 'Bootstrap';
		initBtn();
		initFeePerfGrid();
	});

	function initBtn(){
		//初始化上传插件
		$('#IMAGE').fileupload({
			//上传地址
			url:'/dity/uploadPdImg',
			//返回格式
			dataType: 'json',
			//e：事件对象
			//data：图片上传后的对象，通过data.result.picAddr可以获取上传后的图片地址
			done: function (e, data) {
				$('#spimg').attr('src',data.result.url);
				$('#FILE_URL').val(data.result.url);
			}
		});
		
		
		$("#user_form").ajaxForm(function (data) {
	        if(data.O_RUNSTATUS == 1){
	        	window.location.reload();
	        }else{
	        	alert(data.O_MSG);
	        }
	    });
		$("#celBtn").click(function (){
			window.location.reload();
		});
		
		$.ajax({
			type:"post",
			url:"/dity/feePerfMgt/srchPrdtLbData",
			dataType:"json",
			success:function(data){
				if(data != null && data.length > 0){
					var html = '';
					$.each(data,function(i,e){
						console.log(e)
						html += '<div class="radio radio-info radio-inline">'
                             +'<input type="radio" value="'+e.ID+'" name="GOODS_TYPE">'
                             +'<label> '+e.TYPE_NAME+' </label>'
                             +'</div>';
					});
					$("#FieldsetID").html(html);
					$("input[name='GOODS_TYPE']").eq(0).prop("checked","checked");
				}
			},
			error:function(jqXHR){
				aler("error："+ jqXHR.status);
			}
		});
		
	}

	function initFeePerfGrid(){
		$("#user_list").jqGrid({
			url:'/dity/qryGoodsList',
	        datatype: "json",
	        autowidth: true,
	        height: 620,
//	        width:1030,
	        shrinkToFit: true,
	        rownumbers: true,
	        rowNum: 20,
	        rowList: [10, 20, 30],
	        colNames: ['ID','GOODS_TYPE','藏品名称','类别', '价格', '简介','买入账号','状态','FILE_URL'],
	        colModel: [
	        	{name: 'ID',index: 'ID',editable: true, align :"Center",hidden:true},
	        	{name: 'GOODS_TYPE',index: 'GOODS_TYPE',editable: true, align :"Center",hidden:true},
	            {name: 'NAME',index: 'NAME', align :"Center",editable: true,width: 220},
	            {name: 'TYPE_NAME',index: 'TYPE_NAME', align :"Center",editable: true,width: 100},
	            {name: 'PRICE',index: 'PRICE', align :"Center",editable: true,width: 100},
	            {name: 'INTRDCT',index: 'INTRDCT', align :"Center",editable: true,width: 500},
	            {name: 'OWN_ACNT',index: 'OWN_ACNT', align :"Center",editable: true,width: 120},
	            {name: 'STATUS_NAME',index: 'STATUS_NAME', align :"Center",editable: true,width: 100},
	            {name: 'FILE_URL',index: 'FILE_URL',editable: true, align :"Center",hidden:true}
	        ],
	        loadComplete: function (data) {
	          　　		console.log(data)
	      　　	},
	        pager: "#user_list_btn",
	        viewrecords: true,
	        emptyrecords: "暂无数据",//viewrecords: true时生效
	        caption: "藏品列表",
	        add: true,
	        edit: true,
	        editurl :'/dity/addGoods',
	        hidegrid: false
	    });
		
	    //设置操作按钮
	    $("#user_list").jqGrid('navGrid', '#user_list_btn', {
	        edit: false,
	        add: false,
	        del: false,
	        search: false
	    });
	    $("#user_list").jqGrid('navButtonAdd', '#user_list_btn',
	    		{caption:"", 
	    		buttonicon:"glyphicon glyphicon-trash", 
	    		onClickButton:function(){   
	    			var rowid = $("#user_list").getGridParam("selrow");
	    			if(rowid != null){
	    				var rowData = $("#user_list").getRowData(rowid);
	    				$.ajax({
	    					type:"post",
	    					url:"/dity/delGoods",
	    					data : {ID: rowData.ID},
	    					dataType:"json",
	    					success:function(data){
	    						if(data.O_RUNSTATUS == 1){
	    							window.location.reload();
	    						}else{
	    							alert(data.O_MSG);
	    						}
	    					},
	    					error:function(jqXHR){
	    						aler("error："+ jqXHR.status);
	    					}
	    				});
	    			}
	    		}, 
	    		position: "first", title:"删除所选数据", cursor: "pointer"}
	    );
	    $("#user_list").jqGrid('navButtonAdd', '#user_list_btn',
	    		{caption:"", 
	    		buttonicon:"glyphicon glyphicon-edit", 
	    		onClickButton:function(){   
	    			var rowid = $("#user_list").getGridParam("selrow");
	    			if(rowid != null){
	    				var rowData = $("#user_list").getRowData(rowid);
	    				$('#ID').val(rowData.ID);
	    				$('#NAME').val(rowData.NAME);
	    				$("input[name='GOODS_TYPE'][value='"+rowData.GOODS_TYPE+"']").prop("checked","checked");
	    				$('#PRICE').val(rowData.PRICE);
	    				$('#INTRDCT').val(rowData.INTRDCT);
	    				$('#spimg').attr("src",rowData.FILE_URL);
	    				$('#FILE_URL').val(rowData.FILE_URL);
	    				$('#xxxcxxxx').click();
	    			}
	    		}, 
	    		position: "first", title:"修改所选数据", cursor: "pointer"}
	    );
	    $("#user_list").jqGrid('navButtonAdd', '#user_list_btn',
	    		{caption:"", 
	    		buttonicon:"glyphicon glyphicon-plus", 
	    		onClickButton:function(){   
	    			$('#xxxcxxxx').click();
	    		}, 
	    		position: "first", title:"新增藏品", cursor: "pointer"}
	    );

	    //改变列宽
	    $(window).bind('resize', function () {
	        var width = $('.jqGrid_wrapper').width();
	        $('#user_list').setGridWidth(width);
	    });
	    
	    $("#ccccxcccc").click(function (){
	    	var rowid = $("#user_list").getGridParam("selrow");
			if(rowid != null){
				var rowData = $("#user_list").getRowData(rowid);
				$('#ID').val(rowData.ID);
				$('#NAME').val(rowData.NAME);
				$("input[name='GOODS_TYPE'][value='"+rowData.GOODS_TYPE+"']").prop("checked","checked");
				$('#PRICE').val(rowData.PRICE);
				$('#INTRDCT').val(rowData.INTRDCT);
				$('#spimg').attr("src",rowData.FILE_URL);
				$('#FILE_URL').val(rowData.FILE_URL);
				$('#xxxcxxxx').click();
			}else{
				parent.layer.msg('请选择数据！', {shift: 6});
			}
		});
	    
	    $("#dddddd").click(function (){
	    	var rowid = $("#user_list").getGridParam("selrow");
			if(rowid != null){
				var rowData = $("#user_list").getRowData(rowid);
				$.ajax({
					type:"post",
					url:"/dity/outGoods",
					data : {ID: rowData.ID},
					dataType:"json",
					success:function(data){
						if(data.O_RUNSTATUS == 1){
							window.location.reload();
						}else{
							alert(data.O_MSG);
						}
					},
					error:function(jqXHR){
						aler("error："+ jqXHR.status);
					}
				});
			}
		});
	}

	function closeWindow(){
		window.location.reload();
	}
	</script>
</body>

</html>
