<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dity.dao.AuthDaoMapper">
	
	<select id="getUserInfo" parameterType="HashMap" resultType="HashMap">
		SELECT 	ID,
				USER_NO,
				PASS,
				USER_NAME,
				MOBILE_NO,
				USER_AGE,
				USER_BIRTH,
				USER_TYPE,
				CASE USER_TYPE
					WHEN 1 THEN
						'管理员'
					WHEN 2 THEN
						'普通用户'
					ELSE
						USER_TYPE
				END USER_TYPE_NAME,
				STATUS,
				BANK_NO,
				BANK_NAME,
				REAL_NAME,
				WX_NO,
				ZFB_NO,
				WX_FILE_URL,
				ZFB_FILE_URL,
				DATE_FORMAT(CRITE_TIME,'%Y-%m-%d %H:%i:%s') CRITE_TIME,
				CRITE_USER 
		 FROM T_Dity_USER T
		 WHERE T.USER_NO = #{USER_NO}
	</select>
	
	<insert id="saveUser" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_USER (
				ID,
				USER_NO,
				PASS,
				USER_NAME,
				USER_TYPE,
				STATUS,
				PARENT_NO,
				CRITE_TIME
			) VALUES (
				#{ID},
				#{USER_NO},
				#{PASS},
				#{USER_NAME},
				#{USER_TYPE},
				#{STATUS},
				#{PARENT_NO},
				SYSDATE()
			)
	</insert>
</mapper>