<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dity.dao.DityDaoMapper">
	
	<select id="qryUserList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT  T.ID,
				T.USER_NO,
				T.PASS,
				T.USER_NAME,
				T.MOBILE_NO,
				T.USER_ADD,
				T.USER_AGE,
				T.USER_BIRTH,
				T.USER_TYPE,
				CASE T.USER_TYPE
					WHEN 1 THEN
						'管理员'
					WHEN 2 THEN
						'普通用户'
					ELSE
						T.USER_TYPE
				END USER_TYPE_NAME,
				T.STATUS,
				T.BANK_NO,
				T.BANK_NAME,
				T.REAL_NAME,
				T.WX_NO,
				T.ZFB_NO,
				T.WX_FILE_URL,
				T.ZFB_FILE_URL,
				DATE_FORMAT(T.CRITE_TIME,'%Y-%m-%d %H:%i:%s') CRITE_TIME,
				T.CRITE_USER,USR.USER_NAME CRITENM
		FROM T_DITY_USER T 
		LEFT JOIN T_DITY_USER USR
		ON T.CRITE_USER = USR.USER_NO
		WHERE 1=1
		<if test="ID != null and ID !=''">
			AND T.ID = #{ID}
		</if>
		<if test="USER_NAME != null and USER_NAME !=''">
			AND T.USER_NAME like concat('%',#{USER_NAME},'%')
		</if>
		<if test="USER_NO != null and USER_NO !=''">
			AND T.USER_NO like concat('%',#{USER_NO},'%')
		</if>
		<if test="USER_TYPE != null and USER_TYPE !=''">
			AND T.USER_TYPE = #{USER_TYPE}
		</if>
		ORDER BY T.USER_TYPE
	</select>
	
	<select id="getUserByNo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT  ID,
				USER_NO,
				PASS,
				USER_NAME,
				MOBILE_NO,
				USER_AGE,
				USER_BIRTH,
				USER_TYPE,
				CASE USER_TYPE
					WHEN 1 THEN
						'管理员'
					WHEN 2 THEN
						'普通用户'
					ELSE
						USER_TYPE
				END USER_TYPE_NAME,
				STATUS,
				BANK_NO,
				BANK_NAME,
				REAL_NAME,
				WX_NO,
				ZFB_NO,
				WX_FILE_URL,
				ZFB_FILE_URL,
				DATE_FORMAT(CRITE_TIME,'%Y-%m-%d %H:%i:%s') CRITE_TIME,
				CRITE_USER
			FROM T_DITY_USER T where 1=1
		<if test="ID != null and ID !=''">
			and ID != #{ID}
		</if>
		<if test="USER_NO != null and USER_NO !=''">
			and USER_NO = #{USER_NO}
		</if>
	</select>
	
	<insert id="addUser" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_USER (
				ID,
				USER_NO,
				PASS,
				USER_NAME,
				MOBILE_NO,
				USER_AGE,
				USER_BIRTH,
				USER_TYPE,
				STATUS,
				BANK_NO,
				BANK_NAME,
				REAL_NAME,
				WX_NO,
				ZFB_NO,
				WX_FILE_URL,
				ZFB_FILE_URL,
				CRITE_TIME,
				CRITE_USER 
			) VALUES (
				#{ID},
				#{USER_NO},
				#{PASS},
				#{USER_NAME},
				#{MOBILE_NO},
				#{USER_AGE},
				#{USER_BIRTH},
				#{USER_TYPE},
				#{STATUS},
				#{BANK_NO},
				#{BANK_NAME},
				#{REAL_NAME},
				#{WX_NO},
				#{ZFB_NO},
				#{WX_FILE_URL},
				#{ZFB_FILE_URL},
				SYSDATE(),
				#{CRITE_USER}
			)
	</insert>
	
	<update id="editUser" parameterType="java.util.HashMap">
		UPDATE T_DITY_USER T SET 
				T.ID = #{ID}
				<if test="USER_NO != null and USER_NO !=''">
				, T.USER_NO = #{USER_NO}
				</if>
				<if test="PASS != null and PASS !=''">
				, T.PASS = #{PASS}
				</if>
				<if test="USER_NAME != null and USER_NAME !=''">
				, T.USER_NAME = #{USER_NAME}
				</if>
				<if test="MOBILE_NO != null and MOBILE_NO !=''">
				, T.MOBILE_NO = #{MOBILE_NO}
				</if>
				<if test="USER_ADD != null and USER_ADD !=''">
				, T.USER_ADD = #{USER_ADD}
				</if>
				<if test="USER_AGE != null and USER_AGE !=''">
				, T.USER_AGE = #{USER_AGE}
				</if>
				<if test="USER_BIRTH != null and USER_BIRTH !=''">
				, T.USER_BIRTH = #{USER_BIRTH}
				</if>
				<if test="USER_TYPE != null and USER_TYPE !=''">
				, T.USER_TYPE = #{USER_TYPE}
				</if>
				<if test="BANK_NO != null and BANK_NO !=''">
				, T.BANK_NO = #{BANK_NO}
				</if>
				<if test="BANK_NAME != null and BANK_NAME !=''">
				, T.BANK_NAME = #{BANK_NAME}
				</if>
				<if test="REAL_NAME != null and REAL_NAME !=''">
				, T.REAL_NAME = #{REAL_NAME}
				</if>
				<if test="WX_NO != null and WX_NO !=''">
				, T.WX_NO = #{WX_NO}
				</if>
				<if test="ZFB_NO != null and ZFB_NO !=''">
				, T.ZFB_NO = #{ZFB_NO}
				</if>
				<if test="WX_FILE_URL != null and WX_FILE_URL !=''">
				, T.WX_FILE_URL = #{WX_FILE_URL}
				</if>
				<if test="ZFB_FILE_URL != null and ZFB_FILE_URL !=''">
				, T.ZFB_FILE_URL = #{ZFB_FILE_URL}
				</if>
				<if test="TX_FILE_URL != null and TX_FILE_URL !=''">
				, T.TX_FILE_URL = #{TX_FILE_URL}
				</if>
				<if test="STATUS != null and STATUS !=''">
				, T.STATUS = #{STATUS}
				</if>
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delUser" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_USER WHERE ID = #{ID}
	</delete>
		
	<insert id="addRottn" parameterType="java.util.HashMap">
		INSERT INTO t_dity_rottn_chrt (
			ID,
			IMAGE_ORDER,
			IMAGE_NAME,
			FILE_URL
		)select #{ID},IFNULL((SELECT max(IMAGE_ORDER) FROM t_dity_rottn_chrt ), 0 ) +1,
					#{IMAGE_NAME},#{FILE_URL} from dual
	</insert>
	
	<select id="qryRottnChrt" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM T_DITY_ROTTN_CHRT order by IMAGE_ORDER
	</select>
	
	<select id="qryRottnChrtById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM T_DITY_ROTTN_CHRT where ID = #{ID}
	</select>
	
	<delete id="delItton" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_ROTTN_CHRT WHERE ID = #{ID}
	</delete>
	
	<update id="editIttonOrder" parameterType="java.util.HashMap">
		UPDATE T_DITY_ROTTN_CHRT SET 
				IMAGE_ORDER = #{IMAGE_ORDER}
			WHERE ID = #{ID}
	</update>
	
	
	<select id="qryGoodsMsList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			((select t.RATE_VAL from t_dity_rate t where t.RATE_NAME='委托费') * t.PRICE) WTF,
		    ((select t.RATE_VAL from t_dity_rate t where t.RATE_NAME='预计收益') * t.PRICE) YJSY,
			t.PRICE,
			t.*,
			USR.USER_NAME OWN_ACNT_NAME,
			CASE t.STATUS
				WHEN 0 THEN
					'已下架'
				WHEN 1 THEN
					'正常'
				ELSE
					t.STATUS
			END STATUS_NAME,
		 	DATE_FORMAT(t.CRITE_TIME,'%Y-%m-%d %H:%i:%s') CRITE_TIME
		FROM T_DITY_GOODS_MS T 
		LEFT JOIN T_DITY_USER USR
		ON T.OWN_ACNT = USR.USER_NO
			WHERE 1 = 1
		<if test="ID != null and ID !=''">
			and t.ID = #{ID}
		</if>
		<if test="NAME != null and NAME !=''">
			and t.NAME like concat('%',#{NAME},'%')
		</if>
	</select>
	
	<insert id="addGoodsMs" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_GOODS_MS (
				ID,
				NAME,
				PRICE,
				INTRDCT,
				OWN_ACNT,
				FILE_URL,
				STATUS,
				BUY_TIME,
				WT_TIME,
				BUY_DATE,
				WT_DATE,
				CRITE_TIME,
				CRITE_USER
			) VALUES (
				#{ID},
				#{NAME},
				#{PRICE},
				#{INTRDCT},
				#{CRITE_USER},
				#{FILE_URL},
				1,
				#{BUY_TIME},
				#{WT_TIME},
				#{BUY_DATE},
				#{WT_DATE},
				SYSDATE(),
				#{CRITE_USER}
			)
	</insert>
	
	<update id="editGoodsMs" parameterType="java.util.HashMap">
		UPDATE T_DITY_GOODS_MS T SET 
				T.NAME = #{NAME}, 
				T.PRICE = #{PRICE},
				T.INTRDCT = #{INTRDCT}, 
				T.BUY_TIME = #{BUY_TIME}, 
				T.WT_TIME = #{WT_TIME},
				T.BUY_DATE = #{BUY_DATE}, 
				T.WT_DATE = #{WT_DATE}, 
				T.FILE_URL = #{FILE_URL}
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delGoodsMs" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_GOODS_MS WHERE ID = #{ID}
	</delete>
	
	<update id="setGoodsMsStatus" parameterType="java.util.HashMap">
		UPDATE T_DITY_GOODS_MS T SET 
				T.STATUS = #{STATUS}
			WHERE T.ID = #{ID}
	</update>
	
	
	<select id="qryGoodsList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT T.*,
			((select t.RATE_VAL from t_dity_rate t where t.RATE_NAME='委托费') * t.PRICE) WTF,
		  	((select t.RATE_VAL from t_dity_rate t where t.RATE_NAME='预计收益') * t.PRICE) YJSY,
			TYPE.TYPE_NAME,
			USR.USER_NAME OWN_ACNT_NAME,
			CASE T.STATUS
				WHEN 0 THEN
					'已下架'
				WHEN 1 THEN
					'正常'
				ELSE
					T.STATUS
			END STATUS_NAME,
		 	DATE_FORMAT(T.CRITE_TIME,'%Y-%m-%d %H:%i:%s') CRITE_TIME
		FROM T_DITY_GOODS T
		LEFT JOIN t_dity_product_type TYPE
		ON T.GOODS_TYPE = TYPE.ID
		LEFT JOIN T_DITY_USER USR
		ON T.OWN_ACNT = USR.USER_NO
			WHERE 1 = 1
		<if test="ID != null and ID !=''">
			and t.ID = #{ID}
		</if>
		<if test="NAME != null and NAME !=''">
			and t.NAME like concat('%',#{NAME},'%')
		</if>
		<if test="GOODS_TYPE != null and GOODS_TYPE !=''">
			and t.GOODS_TYPE = #{GOODS_TYPE}
		</if>
	</select>
	
	<insert id="addGoods" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_GOODS (
				ID,
				NAME,
				PRICE,
				INTRDCT,
				GOODS_TYPE,
				OWN_ACNT,
				STATUS,
				FILE_URL,
				CRITE_TIME,
				CRITE_USER
			) VALUES (
				#{ID},
				#{NAME},
				#{PRICE},
				#{INTRDCT},
				#{GOODS_TYPE},
				#{CRITE_USER},
				1,
				#{FILE_URL},
				SYSDATE(),
				#{CRITE_USER}
			)
	</insert>
	
	<update id="editGoods" parameterType="java.util.HashMap">
		UPDATE T_DITY_GOODS T SET 
				T.NAME = #{NAME}, 
				T.PRICE = #{PRICE},
				T.INTRDCT = #{INTRDCT}, 
				T.GOODS_TYPE = #{GOODS_TYPE},
				T.FILE_URL = #{FILE_URL}
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delGoods" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_GOODS WHERE ID = #{ID}
	</delete>
	
	<update id="setGoodsStatus" parameterType="java.util.HashMap">
		UPDATE T_DITY_GOODS T SET 
				T.STATUS = #{STATUS}
			WHERE T.ID = #{ID}
	</update>
	
	
	<select id="qryUserDz" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM T_DITY_USERDZ 
		<if test="ID != null and ID !=''">
			where ID = #{ID}
		</if>
		<if test="USER_NO != null and USER_NO !=''">
			where USER_NO = #{USER_NO}
		</if>
	</select>
	
	<insert id="addUserDz" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_USERDZ (
				ID,
				USER_NO,
				SH_NAME,
				PHTONENO,
				DIQU,
				XXDZ,
				ISMOREN,
				YOUBIAN
			) VALUES (
				#{ID},
				#{USER_NO},
				#{SH_NAME},
				#{PHTONENO},
				#{DIQU},
				#{XXDZ},
				#{ISMOREN},
				#{YOUBIAN}
			)
	</insert>
	
	<update id="editUserDz" parameterType="java.util.HashMap">
		UPDATE T_DITY_USERDZ T SET 
				T.SH_NAME = #{SH_NAME},
				T.PHTONENO = #{PHTONENO},
				T.DIQU = #{DIQU},
				T.XXDZ = #{XXDZ},
				T.ISMOREN = #{ISMOREN},
				T.YOUBIAN = #{YOUBIAN}
			WHERE T.ID = #{ID}
	</update>
	
	<update id="setUserDzMr" parameterType="java.util.HashMap">
		UPDATE T_DITY_USERDZ T SET 
				T.ISMOREN = 1
			WHERE T.ID = #{ID}
	</update>
	
	<update id="setUserDzMr2" parameterType="java.util.HashMap">
		UPDATE T_DITY_USERDZ T SET 
				T.ISMOREN = 0
			WHERE T.USER_NO = #{USER_NO}
	</update>
	
	<delete id="delUserDz" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_USERDZ WHERE ID = #{ID}
	</delete>
	
	<insert id="addOrder" parameterType="java.util.HashMap">
		INSERT INTO t_dity_order (
				ID,
				ORDER_NO,
				ORDER_PD,
				ORDER_PD_NAME,
				ORDER_PD_TYPE,
				ORDER_PRICE,
				ORDER_CVAL,
				ORDER_CFEE,
				ORDER_INCOM,
				ORDER_EXPRESS,
				ORDER_USER_SEL_NO,
				ORDER_USER_BUY_NO,
				STATUS,
				OPTION_TIME,
				OPTION_USER
			) VALUES (
				#{ID},
				#{ORDER_NO},
				#{ORDER_PD},
				#{ORDER_PD_NAME},
				#{ORDER_PD_TYPE},
				#{ORDER_PRICE},
				#{ORDER_CVAL},
				#{ORDER_CFEE},
				#{ORDER_INCOM},
				null,
				#{ORDER_USER_SEL_NO},
				#{ORDER_USER_BUY_NO},
				0,
				SYSDATE(),
				#{OPTION_USER}
			)
	</insert>
	
	<select id="qryOrder" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT t.ID,
			t.ORDER_NO,
			t.ORDER_PD,
			t.ORDER_PD_NAME,
			t.ORDER_PD_TYPE,
			CASE T.ORDER_PD_TYPE
				WHEN 0 THEN
					'非秒杀商品订单'
				WHEN 1 THEN
					'秒杀商品订单'
				ELSE
					T.ORDER_PD_TYPE
			END ORDER_PD_TYPE_NAME,
			t.ORDER_PRICE,
			t.ORDER_CVAL,
			t.ORDER_CFEE,
			t.ORDER_INCOM,
			t.ORDER_EXPRESS,
			t.ORDER_USER_SEL_NO,
			u.USER_NAME ORDER_USER_SEL_NAME,
			t.ORDER_USER_BUY_NO,
			uu.USER_NAME ORDER_USER_BUY_NAME,
			t.STATUS,
			CASE T.STATUS
				WHEN 0 THEN
					'买家未确认付款'
				WHEN 1 THEN
					'买家已确认付款'
				WHEN 2 THEN
					'卖家已确认收款'
				WHEN 3 THEN
					'卖家已发货'
				WHEN 4 THEN
					'买家已发起委托，待管理员确认委托'
				WHEN 5 THEN
					'管理员已确认委托'
				ELSE
					T.STATUS
			END STATUS_NAME,
			DATE_FORMAT(t.OPTION_TIME,'%Y-%m-%d %H:%i:%s') OPTION_TIME,
			t.OPTION_USER 
		FROM t_dity_order t left join t_dity_user u
		 on t.ORDER_USER_SEL_NO=u.USER_NO
		left join t_dity_user uu
		 on t.ORDER_USER_BUY_NO=uu.USER_NO
		where 1=1
		<if test="ID != null and ID !=''">
			and T.ID = #{ID}
		</if>
		<if test="TYPE =='0'">
			and T.STATUS = 0 and T.ORDER_USER_BUY_NO = #{USER_NO}
		</if>
		<if test="TYPE =='1'">
			and T.STATUS = 1 and T.ORDER_USER_SEL_NO = #{USER_NO}
		</if>
		<if test="TYPE =='2'">
			and T.STATUS = 3 and T.ORDER_USER_BUY_NO = #{USER_NO}
		</if>
		<if test="TYPE =='3'">
			and T.STATUS = 2 and T.ORDER_USER_BUY_NO = #{USER_NO}
		</if>
		<if test="TYPE =='4'">
			and T.STATUS != 1 and T.ORDER_USER_SEL_NO = #{USER_NO}
		</if>
		<if test="ORDER_PD != null and ORDER_PD !=''">
			and T.ORDER_PD = #{ORDER_PD}
		</if>
		<if test="STATUS != null and STATUS !=''">
			and T.STATUS = #{STATUS} 
		</if>
		order by T.OPTION_TIME desc
	</select>
	
	<select id="qryFsOrder" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT t.ID,
			t.ORDER_NO,
			t.ORDER_PD,
			t.ORDER_PD_NAME,
			t.ORDER_PD_TYPE,
			CASE T.ORDER_PD_TYPE
				WHEN 0 THEN
					'非秒杀商品订单'
				WHEN 1 THEN
					'秒杀商品订单'
				ELSE
					T.ORDER_PD_TYPE
			END ORDER_PD_TYPE_NAME,
			t.ORDER_PRICE,
			t.ORDER_CVAL,
			t.ORDER_CFEE,
			t.ORDER_INCOM,
			t.ORDER_EXPRESS,
			t.ORDER_USER_SEL_NO,
			u.USER_NAME ORDER_USER_SEL_NAME,
			t.ORDER_USER_BUY_NO,
			uu.USER_NAME ORDER_USER_BUY_NAME,
			t.STATUS,
			CASE T.STATUS
				WHEN 0 THEN
					'买家未确认付款'
				WHEN 1 THEN
					'买家已确认付款'
				WHEN 2 THEN
					'卖家已确认收款'
				WHEN 3 THEN
					'卖家已发货'
				WHEN 4 THEN
					'买家已发起委托，待管理员确认委托'
				WHEN 5 THEN
					'管理员已确认委托'
				ELSE
					T.STATUS
			END STATUS_NAME,
			DATE_FORMAT(t.OPTION_TIME,'%Y-%m-%d %H:%i:%s') OPTION_TIME,
			t.OPTION_USER 
		FROM t_dity_order t left join t_dity_user u
		 on t.ORDER_USER_SEL_NO=u.USER_NO
		left join t_dity_user uu
		 on t.ORDER_USER_BUY_NO=uu.USER_NO
		where ORDER_USER_BUY_NO in( select USER_NO from t_dity_user where PARENT_NO=#{USER_NO} )
	</select>
	
	<update id="setOrder" parameterType="java.util.HashMap">
		UPDATE t_dity_order T SET 
				T.STATUS = #{STATUS}
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delOrder" parameterType="java.util.HashMap">
		DELETE FROM t_dity_order WHERE ID = #{ID}
	</delete>
	
	<update id="editGoodsMsOwnAcnt" parameterType="java.util.HashMap">
		update T_DITY_GOODS_MS t set 
			t.OWN_ACNT=(select a.ORDER_USER_BUY_NO 
				from t_dity_order a where a.id=#{ORDERID})
	</update>
	
	<update id="editGoodsOwnAcnt" parameterType="java.util.HashMap">
		update T_DITY_GOODS t set 
			t.OWN_ACNT=(select a.ORDER_USER_BUY_NO 
				from t_dity_order a where a.id=#{ORDERID})
	</update>
	
	<update id="setOrderExpress" parameterType="java.util.HashMap">
		UPDATE t_dity_order T SET 
				T.STATUS = #{STATUS}
				,T.ORDER_EXPRESS = #{ORDER_EXPRESS}
			WHERE T.ID = #{ID}
	</update>
	
	
	<select id="qryFsUser" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT  T.ID,
				T.USER_NO,
				T.PASS,
				T.USER_NAME,
				T.MOBILE_NO,
				T.USER_ADD,
				T.USER_AGE,
				T.USER_BIRTH,
				T.USER_TYPE,
				CASE T.USER_TYPE
					WHEN 1 THEN
						'管理员'
					WHEN 2 THEN
						'普通用户'
					ELSE
						T.USER_TYPE
				END USER_TYPE_NAME,
				T.STATUS,
				T.BANK_NO,
				T.BANK_NAME,
				T.REAL_NAME,
				T.WX_NO,
				T.ZFB_NO,
				T.WX_FILE_URL,
				T.ZFB_FILE_URL,
				DATE_FORMAT(T.CRITE_TIME,'%Y-%m-%d %H:%i:%s') CRITE_TIME,
				T.CRITE_USER,USR.USER_NAME CRITENM
		FROM T_DITY_USER T 
		LEFT JOIN T_DITY_USER USR
		ON T.CRITE_USER = USR.USER_NO
		WHERE PARENT_NO= #{USER_NO}
	</select>
</mapper>