<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dity.dao.FeePerfMgtDaoMapper">
	
	<select id="srchFeePerfData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT T.*,DATE_FORMAT(T.CRITE_TIME,'%Y-%m-%d %T') CRITETIME,USR.USER_NAME 
			FROM T_DITY_RATE T
			LEFT JOIN T_DITY_USER USR
			ON T.CRITE_USER = USR.USER_NO
	</select>
	
	<insert id="addFeePerfData" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_RATE (ID,RATE_NAME,RATE_VAL,CRITE_TIME,CRITE_USER) VALUES 
			(#{ID},#{RATE_NAME},#{RATE_VAL},SYSDATE(),#{CRITE_USER})
	</insert>
	
	<update id="modfyFeePerfData" parameterType="java.util.HashMap">
		UPDATE T_DITY_RATE T SET T.RATE_NAME = #{RATE_NAME}, T.RATE_VAL = #{RATE_VAL},T.CRITE_USER = #{CRITE_USER}, T.CRITE_TIME = SYSDATE()
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delFeePerfData" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_RATE WHERE ID IN (${ID})
	</delete>
	
	<select id="srchPrdtLbData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT T.*,USR.USER_NAME,
			CASE T.STATUS
				WHEN 0 THEN
					'未开放'
				WHEN 1 THEN
					'已开放'
				ELSE
					T.STATUS
			END STATUS_NAME,
			DATE_FORMAT(T.CRITE_TIME,'%Y-%m-%d %T') CRITETIME
		FROM T_DITY_PRODUCT_TYPE T 
		LEFT JOIN T_DITY_USER USR
		ON T.CRITE_USER = USR.USER_NO
		where 1=1
		<if test="ID != null and ID !=''">
			and T.ID = #{ID}
		</if>
		order by T.TYPE_ORDER
	</select>
	
	<insert id="addPrdtLbData" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_PRODUCT_TYPE (ID,TYPE_ORDER,TYPE_NAME,STATUS,FILE_URL,CRITE_TIME,CRITE_USER) VALUES 
			(#{ID},#{TYPE_ORDER},#{TYPE_NAME},#{STATUS},#{FILE_URL},SYSDATE(),#{CRITE_USER})
	</insert>
	
	<update id="modfyPrdtLbData" parameterType="java.util.HashMap">
		UPDATE T_DITY_PRODUCT_TYPE T SET T.TYPE_ORDER = #{TYPE_ORDER}, T.TYPE_NAME = #{TYPE_NAME},
			T.STATUS = #{STATUS}, T.FILE_URL = #{FILE_URL},
			T.CRITE_USER = #{CRITE_USER}, T.CRITE_TIME = SYSDATE()
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delPrdtLbData" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_PRODUCT_TYPE WHERE ID IN (${ID})
	</delete>
	
	<update id="updtPrdtLbStatData" parameterType="map">
		UPDATE T_DITY_PRODUCT_TYPE
			SET STATUS = 
			CASE
			WHEN STATUS = 0 THEN
				1
			WHEN STATUS = 1 THEN
				0
			ELSE
				STATUS
			END,CRITE_USER = #{CRITE_USER},CRITE_TIME = SYSDATE()
			WHERE
				ID =  #{ID}
	</update>
	
	<select id="srchInfoTsData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT T.*,DATE_FORMAT(T.CRITE_TIME,'%Y-%m-%d %T') CRITETIME,USR.USER_NAME
		FROM T_DITY_CONTATE_INFO T
		LEFT JOIN T_DITY_USER USR
		ON T.CRITE_USER = USR.USER_NO
	</select>
	
	<insert id="addInfoTsData" parameterType="java.util.HashMap">
		INSERT INTO T_DITY_CONTATE_INFO (ID,CONTATE_NAME,CONTATE_INFO,CRITE_TIME,CRITE_USER) VALUES 
			(#{ID},#{CONTATE_NAME},#{CONTATE_INFO},SYSDATE(),#{CRITE_USER})
	</insert>
	
	<update id="modfyInfoTsData" parameterType="java.util.HashMap">
		UPDATE T_DITY_CONTATE_INFO T SET T.CONTATE_NAME = #{CONTATE_NAME}, T.CONTATE_INFO = #{CONTATE_INFO},T.CRITE_USER = #{CRITE_USER}, T.CRITE_TIME = SYSDATE()
			WHERE T.ID = #{ID}
	</update>
	
	<delete id="delInfoTsData" parameterType="java.util.HashMap">
		DELETE FROM T_DITY_CONTATE_INFO WHERE ID IN (${ID})
	</delete>
	
	<select id="srchPdOrderData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT T.*,DATE_FORMAT(T.OPTION_TIME,'%Y-%m-%d %T') CRITETIME,USR.USER_NAME
		FROM T_DITY_ORDER T
		LEFT JOIN T_DITY_USER USR
		ON T.OPTION_USER = USR.USER_NO
	</select>
</mapper>